@model Sat.Data.EF.Enrollment

@{
    ViewBag.Title = "Details";
}

<div class="pageWrap">
    <h2>@ViewBag.Title</h2>
    @{ 
        
            var color = "";
            switch (Model.EnrollmentID)
            {
                case 1:
                    color = "#7cbb00";
                    break;
                case 2:
                    color = "#ffbb00";
                    break;
                case 7:
                    color = "#a903b3";
                    break;
                case 8:
                    color = "#ec4f13";
                    break;
            }
       
        <div class="col-lg-9">
            <div class="well well-primary box" style="background-color:@color">
                <h4>Enrollment</h4>
                <hr />
                <ul class="dl-horizontal">
                   
                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.EnrollmentDate)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.EnrollmentDate)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.ScheduledClass.InstructorName)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.ScheduledClass.InstructorName)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.Student.FirstName)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.Student.FirstName)
                    </li>

                </ul>
            </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        }
    </div>
