@model Sat.Data.EF.Student

@{
    ViewBag.Title = "Details";
}

<div class="pageWrap">

    @{
        var color = "";
        switch (Model.StudentStatus.StatusName)
        {
            case "IsEnrolled":
                color = "#7cbb00";
                break;
            case "IsGraduated":
                color = "#ffbb00";
                break;
            case "IsTakingBreak":
                color = "#a903b3";
                break;

            default:
                break;

        }

        <div class="col-lg-9">
            <div class="well well-primary box" style="background-color:@color">
                <h4>Student Details</h4>
                <hr />
                <img src="~/Content/assets/img/@Model.PhotoUrl" style="width:200px; height: 230px;" />
                <ul>
                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.FirstName)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.LastName)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.LastName)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.PhoneNbr)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.PhoneNbr)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.Email)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.Email)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.StreetAddress)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.StreetAddress)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.City)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.City)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.State)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.State)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.ZipCode)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.Country)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.Country)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.PhotoUrl)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.PhotoUrl)
                    </li>

                    <li class="detailTitle">
                        @Html.DisplayNameFor(model => model.StudentStatus.StatusName)
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.StudentStatus.StatusName)
                    </li>

                </ul><br />
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    }
</div>
