@model IEnumerable<Sat.Data.EF.Student>

@{
    ViewBag.Title = "All Students";
}





<div class="pageWrap">
    <h2>@ViewBag.Title</h2>
    @if (User.IsInRole("Admin") || User.IsInRole("Scheduling"))
    {
        <p>
            @Html.ActionLink("Add New Student", "Create")
        </p>
    }

    @*<section id="maincontent">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="well well-primary box">
                            <h3></h3>
                            <ul>
                                <li>
                                    @Html.DisplayNameFor(model => model.NameJoin)
                                </li>
                                <li>
                                    @Html.DisplayNameFor(model => model.PhoneNbr)
                                </li>
                                <li>
                                    @Html.DisplayNameFor(model => model.Email)
                                </li>
                                <li>
                                    @Html.DisplayNameFor(model => model.AddressInfo)
                                </li>
                                <li>
                                    @Html.DisplayNameFor(model => model.PhotoUrl)
                                </li>
                                <li>
                                    @Html.DisplayNameFor(model => model.StudentStatus.StatusName)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    @foreach (var item in Model)
    {
        var color = "";
        switch (item.StudentStatus.StatusName)
        {
            case "IsEnrolled":
                color = "#7cbb00";
                break;
            case "IsGraduated":
                color = "#ffbb00";
                break;
            case "IsTakingBreak":
                color = "#a903b3";
                break;

        }
        <div class="cardBox col-lg-12 col-sm-1">
            <div class="span3">

                <div class="well well-primary box" style="background-color:@color">

                    @*<img src="@Html.DisplayFor(modelItem => item.PhotoUrl)" />*@
                    <img src="~/Content/assets/img/@Html.DisplayFor(modelItem => item.PhotoUrl)" style="width:83px; height: 110px;" />

                    <ul class="cardBoxUL">

                        <li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Scheduling"))
                {
                                @Html.ActionLink(item.NameJoin, "Details", new { id = item.StudentID })
                            }
                            else
                            {

                                @Html.DisplayFor(modelItem => item.NameJoin)
                            }
                        </li>
                        <li>
                            @Html.DisplayNameFor(model => model.PhoneNbr)
                            @Html.DisplayFor(modelItem => item.PhoneNbr)
                        </li>
                        <li>
                            @Html.DisplayNameFor(model => model.Email)
                            @Html.DisplayFor(modelItem => item.Email)
                        </li>
                        @*<li>
                                @Html.DisplayNameFor(model => model.AddressInfo)
                                @Html.DisplayFor(modelItem => item.AddressInfo)
                            </li>
                            <li>
                                @Html.DisplayNameFor(model => model.PhotoUrl)
                                @Html.DisplayFor(modelItem => item.PhotoUrl)
                            </li>
                            <li>
                                @Html.DisplayNameFor(model => model.StudentStatus.StatusName)
                                @Html.DisplayFor(modelItem => item.StudentStatus.StatusName)
                            </li>*@
                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID })

                                @if (User.IsInRole("Admin"))
                    {
                                    @:| @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
                    }

                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    }

</div>





